:root{
    --green: #5ACD47;
    --greenlight: #76ec66;
    --black: #000000;
    --blacklight: #141414;
    --white: #eaeaea;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Buttons common styles */

body{
    background: #fffdfd;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/** Navigation Bar **/
header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #45749a;
    padding: 10px 60px;
}
ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:hover {
    opacity: 0.8;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}
.menu{
    display: none;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1070px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    header a img {
        height: 50px;
    }

    header nav ul {
        flex-direction: column;
        background-color: #C4C4C4;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }

    .active {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}

.menu.logo-box{
    margin-left: 20px;
}

.menu.logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background: var(--green);
    color: #FFFFFF;
}

.btn-menu > .fa-bars{
    display: none;
}

/* Hero Section */

.hero-text{
    background-image: linear-gradient(101.31deg, #FFFCEF 24.05%, rgba(255, 252, 239, 0.816664) 46.52%, rgba(255, 252, 239, 0.67696) 50.55%, rgba(255, 252, 239, 0) 64.33%),url("../pictures/TuCine_unplash.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 751px; 
}

.hero-text h1 {
    font-size: 58px;
    font-weight: 400;
    margin-bottom: 10px;
    width: auto;
}

.hero-text p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.btn-hero{
    background-color: #FFAD00;
   text-decoration: none;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 84px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.download-ios-and{
    display: flex;
    
}

.Titulo{
    top: 110px;
}

@media (max-width: 1100px) {
    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text p {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .hero-text {
        padding: 0 30px;
    }

    .hero-text h1 {
        font-size: 36px;
    }
}

@media (max-width: 730px) {
    .hero-text {
        width: 100%;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .hero-image {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .hero-image {
        min-width: 320px;
    }

    .btn {
        padding: 5px 10px;
    }

}

/*section form*/
.form{
    background: url("../pictures/form-autocinema\ 1\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.form{
    display: flex;
    align-items: center;
    padding: 120px;
    flex-wrap: wrap;

}
.section1{
   
    margin: auto;
    text-align: left;
    align-items: center;
}
.section1 img{
    padding-left: 100px;
}

.form h1{
    font-size: 40px;
    margin:40px;
    padding-left: 50px;
    color: black;

}

.form-signup{
    width: 430px;
    margin:auto;
    padding: 20px;
    /*margin-left: 500px;*/
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-signup h2{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 23px;
    color:black;
}
.controls{
    width: 100%;
    padding: 15px;
    margin:5px;
    border-radius: 10px;
    border: solid 1px #936D5E;
}
.controls-checkbox{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 8%;
    font-size: 5px;
}
.form-signup button{
    width: 50%;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 12px;
    
    background-color: #FFAD00;
   
     color: #000000;
     font-weight: bold;

     padding-top: 10px;
     padding-bottom: 10px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media (max-width: 1100px) {
    .form h1{
        font-size: 35px;
    }

}

@media (max-width: 900px) {
    .form h1{
        font-size: 30px;
    }

}

@media (max-width: 730px) {
    .form h1{
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .form h1{
        font-size: 20px;
    }


    .btn {
        padding: 5px 10px;
    }

}
