:root{
    --green: #5ACD47;
    --greenlight: #76ec66;
    --black: #000000;
    --blacklight: #141414;
    --white: #eaeaea;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Buttons common styles */

body{
    background: #fffdfd;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/** Navigation Bar **/
header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #45749a;
    padding: 10px 60px;
}
ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:hover {
    opacity: 0.8;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}
.menu{
    display: none;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1070px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    header a img {
        height: 50px;
    }

    header nav ul {
        flex-direction: column;
        background-color: #C4C4C4;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }

    .active {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}

.menu.logo-box{
    margin-left: 20px;
}

.menu.logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background: var(--green);
    color: #FFFFFF;
}

.btn-menu > .fa-bars{
    display: none;
}


/*Description TuCine*/
.about-our-description{
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
    padding: 50px;
}
.project-title{
    padding: 60px;
    text-align: center;
}
.btn {
    background-color: #356c91;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: #39748a solid 1px;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.9;
    transition: background ease-in .2s;
    background-color: #FFFFFF;
    color: #467ba6;
}


.project-img{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    text-align: justify;
    border-radius: 20px;
}

.about__img{
    width: 200px;
    height: 200px;

}
.about__description{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    font-size: 1rem;
}

.about__description__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 10rem;
}
/*Description TuCine End*/
