:root{
    --green: #5ACD47;
    --greenlight: #76ec66;
    --black: #000000;
    --blacklight: #141414;
    --white: #eaeaea;
    --primary-color:#FFAD00;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Inter', sans-serif;
    color: #212529;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Buttons common styles */

body{
    background: #fffdfd;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/** Navigation Bar **/
header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #ffad00;
    padding: 10px 60px;
}
ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:hover {
    opacity: 0.8;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}
.menu{
    display: none;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1070px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    header a img {
        height: 50px;
    }

    header nav ul {
        flex-direction: column;
        background-color: #C4C4C4;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }

    .active {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}

.menu.logo-box{
    margin-left: 20px;
}

.menu.logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background: var(--green);
    color: #FFFFFF;
}

.btn-menu > .fa-bars{
    display: none;
}

/*Description TuCine*/
.description-section{
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
    padding: 50px;
}
.description-title{
    padding: 50px;
    width: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.medio-circulo {
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    background-color: #ffad00;
}
.description-heading{
    margin-top: 15px;
    font-size:56px;
    line-height: 62px;
    margin-bottom: 18px;
}
.description-text{
    font-size: 20px;
    line-height: 28px;
}
.btn {
    background-color: var(--primary-color);
    color: #212529;
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 16px 36px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    line-height: 28px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    align-items: center;
    gap: 24px;

}
.btn-text{
    display: inline-block;
}
.btn-icon{
    width: 24px;
    height: 24px;
}
.btn:hover {
    opacity: 0.9;
    transition: background ease-in .2s;
    background-color: #FFFFFF;
    color: #467ba6;
}


.description-content{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 96px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    text-align: justify;
    border-radius: 20px;
}

.image-box{
    width: 50%;
}

.about__description{
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 144px;
}

.about__description__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__description__number,.about__description__title{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
}
.about__description__number{
    margin-top: 22px;
    margin-bottom: 8px;
}

.about__description__title{
    margin-bottom: 18px;
}
.about__description__text{
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 26px;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.title{
    font-size: 1rem;
}

.testimonial-section{
    background-color: #FFFCEF;
    padding: 62px 0;
}
.testimonial-title{
    max-width: 630px;
    margin:0 auto;
    text-align: center;

}
.testimonial-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 40px;
}
.testimonial-text{
    font-size: 20px;
    line-height: 28px;
}
.testimonial-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 24px;
    margin: 72px 0;
}
.testimonial-card{
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background: white;
    padding: 16px 28px;
    gap: 32px;
    align-items: center;
}
.testimonial-card__img{
    width: 145px;
    margin-left: -100px;
}
.testimonial-card__img img{
    width: 100%;

}

.testimonial-user,.testimonial-summary,.testimonial-description{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}
.testimonial-summary{
    margin-bottom: 4px;
}
.testimonial-description{
    font-weight: 400;
    margin: 0;
}
.margin-auto{
    margin:0 auto;
}

@media screen and (max-width: 800px) {
    /* estilos CSS para pantallas pequeñas */
    .description-title{
        width: 70%;
        padding: 50px;
    }
    .description-heading{
        font-size:56px;
    }
    .image-box img{
        width: 300px;
    }


}


/*Description TuCine End*/

/* AboutUs section */

.AboutUs{
    background-color: #FFFCEF;

}

.AboutUs .grid li{
    padding: 0 30px;
    flex-basis: -10%;
    padding: 50px;

}

.AboutUs .grid li i{
    font-size: 80px;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;

}

.AboutUs .grid li h4{
    color: #000000;
    font: bolder 32px 'Maven Pro';
    margin-bottom: 25px;
}
.AboutUs .grid li h3{
    color: #000000;
    font: bolder 32px 'Maven Pro';
    text-align: center;
    margin-bottom: 25px;
}

.AboutUs .grid li p{
    margin: 0;
}


.AboutUs h4{
    font-size: 22px;
    color: #828282;
    text-align: center;
    padding: 10px;
}

.AboutUs h1{
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 50px;
}

@media (max-width: 1000px){
    .AboutUs .grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .AboutUs .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .AboutUs .grid li{
        flex-basis: 100%;
    }
}



